* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 24px;
  flex-wrap: wrap;
}

#bar-chart {
  width: 800px;
  height: 500px;
}

#pie-chart {
  width: 500px;
  height: 500px;
}
